:root {
  --border-color: #291D4D;
  --dialog-background: #676375;

  --menu-background: #656473;
  --menu-border-color: #554b5a;
  --menu-font-color: #1b1515;
  --menu-selected-background: #9ea2ba;
}

* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family:'Common Pixel', sans-serif; 
}

.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}